.mhc-plain      { color: $mhc-plain !important;      }
.mhc-lemon      { color: $mhc-lemon !important;      }
.mhc-maple      { color: $mhc-maple !important;      }
.mhc-blueberry  { color: $mhc-blueberry !important;  }
.mhc-strawberry { color: $mhc-strawberry !important; }
.mhc-raspberry  { color: $mhc-raspberry !important;  }
.mhc-peach      { color: $mhc-peach !important;      }
.mhc-orange     { color: $mhc-orange !important;     }
.mhc-vanilla    { color: $mhc-vanilla !important;    }


.mhc-dutch      { color: $mhc-dutch !important;      }
.mhc-stonecreek { color: $mhc-stonecreek !important; }
.mhc-cheddar    { color: $mhc-cheddar !important;    }
