@mixin align-vertically {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

@mixin align-totally {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@mixin rotator($deg) {
    -webkit-transform: rotate($deg);
        -ms-transform: rotate($deg);
            transform: rotate($deg);
}