/* Grass-Fed Callouts */
/* ================== */

.mhc-grass-fed-callout {
    padding: 32px 16px;

    img {
        margin: 0 auto;
        display: block;
    }

    .mhc-description {
        max-width: 320px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {

    .mhc-grass-fed-section-body {

        .inner-inner {
            padding-top: 24px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .mhc-grass-fed-callout {
        min-height: 510px;
    }
}