.mhc-certified-grass-fed {

    .mhc-grass-fed-section-title {

        .mhc-img {
            display: block;
            margin: 0 auto;
        }
    }

    .mhc-grass-fed-callout {
        min-height: auto;
        padding: 48px 16px;

        &:not(:last-of-type) {
            border-bottom: 1px dotted $mhc-soft-border;
        }

        .mhc-title {
            margin: 0 auto 12px;
            display: block;
        }
    }

    @media only screen and (min-width: 768px) {

        .mhc-grass-fed-section-body {

            .inner-inner {
                padding: 0;
            }
        }

        .mhc-grass-fed-callout {
            border-bottom: none;
            padding: 64px 32px;
            min-height: 400px;

            &:not(:last-of-type) {
                border-bottom: none;
            }

            &:nth-of-type(odd) {
                border-right: 1px dotted $mhc-soft-border;
            }

            &:nth-of-type(-n+2) {
                border-bottom: 1px dotted $mhc-soft-border;
            }

            .mhc-title {
                margin: 0 auto 12px;
                display: block;
            }
        }        
    }

    @media only screen and (min-width: 1024px) {
        
        .mhc-grass-fed-callout {
            padding: 64px 16px;
            border: 0 !important;

            &:not(:last-of-type) {
                border-right: 1px dotted $mhc-soft-border !important;
            }
        }
    }

    @media only screen and (min-width: 1280px) {
        
        .mhc-grass-fed-callout {
            padding: 64px 32px;
        }
    }
}
