.mhc-chew-on-this {

    .mhc-grass-fed-section-body {
        height: calc(100vh - 100px);
    }

    .tooltip-info {
        
        .tooltip-title {
            font-family: $neutraface-demi;
            font-size: 18px;
            margin: 0 0 4px;
        }

        .tooltip-message {
            font-family: $lato-regular;
            font-size: 16px;
            margin: 0;
        }
    }
}

.tooltip.rumen {
    @include align-vertically;
    top: 42%;
    left: 20%;

    .tooltip-trigger {

        .tooltip-info {
            bottom: 30px;
            left: -48px;

            &:after {
                left: 74px;
            }
        }        
    }

    @media only screen and (min-width: 480px) {
        left: 27%;
    }

    @media only screen and (min-width: 640px) {
        left: 30%;
    }

    @media only screen and (min-width: 768px) {
        left: 33%;
    }

    @media only screen and (min-width: 1024px) {
        left: 40%;
    }

    @media only screen and (min-width: 1366px) {
        left: 41%;
    }
}

.tooltip.reticulum {
    @include align-vertically;
    right: 25%;
    top: 38%;

    .tooltip-trigger {

        .tooltip-info {
            bottom: 30px;
            left: -168px;

            &:after {
                right: 61px;
            }
        }        
    }

    @media only screen and (min-width: 480px) {
        right: 27%;
    }

    @media only screen and (min-width: 640px) {
        right: 28%;
    }

    @media only screen and (min-width: 768px) {
        right: 30%;
    }

    @media only screen and (min-width: 1024px) {
        right: 39%;
    }
}

.tooltip.omasum {
    @include align-vertically;
    right: 47%;
    top: 47%;
    z-index: 2;

    .tooltip-trigger {

        .tooltip-info {
            bottom: 30px;
            left: -100px;

            &:after {
                right: 130px;
            }
        }        
    }


    @media only screen and (min-width: 768px) {
        right: 49%;
    }

    // @media only screen and (min-width: 1024px) {
    //     right: 40%;
    // }
}


.tooltip.abomasum {
    @include align-vertically;
    right: 22%;
    top: 50%;

    .tooltip-trigger {

        .tooltip-info {
            bottom: 30px;
            left: -180px;

            &:after {
                right: 49px;
            }
        }        
    }

    @media only screen and (min-width: 480px) {
        right: 24%;
    }

    @media only screen and (min-width: 640px) {
        right: 25%;
    }

    @media only screen and (min-width: 768px) {
        right: 29%;
    }

    @media only screen and (min-width: 1024px) {
        right: 37%;
    }
}