/* Choreography */
/* ============ */

.mhc-choreography {

    .mhc-grass-fed-section-title {
        background-position: 40% 50%;
        background-size: initial;
        background-repeat: no-repeat;
    }

    .mhc-double-border {

        .inner-outer {
            border-width: 2px;

            .inner-inner {
                border-width: 1px; 
            }
        }
    }
}

.mhc-choreography-tabs {
    
    .tabs-menu {
        height: 80px;
    }
}

#mhcSpring {
    display: block;   
}