/* Common Perennials */
/* ================= */

.mhc-common-perennials {

    .mhc-grass-fed-section-body {
        padding: 0 48px;
    }

    .mhc-grass-fed-callout {
        border-bottom: 2px dotted $mhc-dotted-border;
        padding: 64px 0;

        &:last-of-type {
            border: none;
        }

        .mhc-pretitle {
            margin-top: 24px;
        }

        .mhc-title {
            color: white;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    .mhc-common-perennials {

        .mhc-grass-fed-section-body {
            padding: 48px 0;
        }

        .mhc-grass-fed-callout {
            padding: 0;
            border-right: 2px dotted $mhc-dotted-border;
            border-bottom: 0;
            
            div {
                @include align-totally;
                width: 100%;
            }
        }
    }    
}