.mhc-grass-based-farming {

    .mhc-timeline-img,
    .mhc-timeline-copy {
        height: calc(50vh - 50px);
    }

    .mhc-timeline-copy {
        background-size: 320px;
    }

    .mhc-grass-fed-section-body {

        .mhc-description {
            max-width: 400px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .mhc-grass-based-farming {

        .mhc-grass-fed-section-body {

            .mhc-description {
                font-size: 20px;
            }
        }
    }
}