.mhc-gut-health {

    .mhc-double-border {

        .inner-outer {

            .inner-inner {
                border: 0;
                padding: 0 16px;
            }
        }
    }

    .mhc-grass-fed-section-body {
        // box-shadow: 0px 7px 10px rgba(51,51,51,0.3);
        box-shadow: none;
    }
}

.mhc-gut-health-description {
    padding: 32px;
    padding-top: 0;
    margin-top: 0;
    letter-spacing: 1px;
    font-family: $lato-light;
    color: #999;
    font-size: 20px;
    line-height: 30px;
}

.mhc-gut-health-section {
    padding: 64px 0;
    text-align: left;

    &:not(:last-of-type) {
        border-bottom: 1px dotted $mhc-soft-border;
    }
    
    .mhc-pretitle,
    .mhc-title,
    .mhc-description {
        text-align: left;
        max-width: initial;
        margin: 0 auto;
    }

    .mhc-title {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .mhc-img {
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 768px) {

    .mhc-gut-health-section {
        padding: 48px;

        &:not(:last-of-type) {
            border-bottom: none;
            border-right: 1px dotted $mhc-soft-border;
        }
    }

    .mhc-gut-health-description {
        padding: 64px;
        padding-top: 0;
    }
}

@media only screen and (min-width: 1024px) {

    .mhc-gut-health-section {
        padding: 48px;

        .mhc-description {
            font-size: 20px;
        }
    }
}


/* pH Scales */
/* ========= */

.mhc-ph-scales {
    position: relative;

    .mhc-img {
        position: absolute;
        bottom: 33px;
        
        &.mhc-img-left {
            left: 3.57%;
            width: 21.42%;
        }

        &.mhc-img-right {
            left: 39.27%;
            width: 7.14%;
        }
    }

    @media only screen and (min-width: 768px) {

        .mhc-img {
            bottom: 30px;
        }
    }
    
    @media only screen and (min-width: 1024px) {

        .mhc-img {
            bottom: 25px;
        }
    }

    @media only screen and (min-width: 1440px) {

        .mhc-img {
            bottom: 20px;
        }
    }
    
    @media only screen and (min-width: 1920px) {

        .mhc-img {
            bottom: 14px;
        }
    }
}



.mhc-ph-scale {
    width: 7.14%;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;

    &:not(:last-of-type) {
        border-right: 1px solid $mhc-soft-border;
    }

    .top,
    .bottom {
        height: 80px;
        width: 100%;
    }

    .top {
        position: relative;

        span {
            @include align-totally;
            color: white;
            font-family: $knockout-junior;
            font-size: 14px;

            @media only screen and (min-width: 768px) {
                font-size: 18px;
            }
        }

        &.one       { background: #dc2947; }
        &.two       { background: #ec3642; }
        &.three     { background: #f57a35; }
        &.four      { background: #ff8b0f; }
        &.five      { background: #ffa406; }
        &.six       { background: #fbbc01; }
        &.seven     { background: #f0d406; }
        &.eight     { background: #7cab26; }
        &.nine      { background: #4c8537; }
        &.ten       { background: #487849; }
        &.eleven    { background: #3e694e; }
        &.twelve    { background: #2e6452; }
        &.thirdteen { background: #253a46; }
        &.fourteen  { background: #21242d; }
    }
}