/* New York State */
/* ============== */

.mhc-new-york-state {
    background-size: contain;

    .mhc-grass-fed-section-body {
        box-shadow: none;
        height: 240px;

        .row {
            height: 100%;
        }
    }
}

.mhc-nys-callout {
    position: relative;
    height: 100%;
    min-height: initial;

    .mhc-nys-callout-inner {
        @include align-totally;
        width: 100%;
    }

    .mhc-title-container {
        display: table;
        margin: 0 auto;

        .mhc-title,
        .mhc-img {
            display: table-cell;
            vertical-align: middle;
        }

        .mhc-title {
            font-size: 76px;
            font-family: $knockout-junior;
            text-transform: uppercase;
            color: $mhc-green;
            margin: 0;
        }
    }
}

.mhc-nys-source,
.mhc-nys-info {
    font-size: 18px;
    text-align: center;
    color: $mhc-green;
    clear: both;
    margin: 0 0 64px 0;
    padding: 0 16px;
}

.mhc-nys-info {
    font-size: 24px;
    margin-bottom: 124px;
}