/* The Paddocks */
/* ============ */

.mhc-paddocks {
    .mhc-grass-fed-section-title {
        background-size: initial;
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
}

.mhc-paddocks-tabs {

    .tabs-menu-link {

        .mhc-title {
            display: block;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0;
        }

        .content-wrap {
            padding: 0 16px;
        }
    }
}

#mhcKeyLine {
    display: block;
}

@media only screen and (min-width: 480px) {

    .mhc-paddocks-tabs {

        .tabs-menu-link {

            .mhc-title {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {

    .mhc-paddocks-tabs {

        .tabs-menu-link {

            .mhc-title {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .mhc-paddocks-tabs {

        .tabs-menu-link {

            .mhc-title {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {

    .mhc-paddocks-tabs {

        .tabs-menu-link {

            .mhc-title {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {

    .mhc-paddocks-tabs {

        .tabs-menu-link {

            .mhc-title {
                font-size: 20px;
            }
        }
    }
}