/* Reduced Carbon */
/* ============== */

.mhc-reduced-carbon {
    padding-top: 128px;
}

.mhc-reduced-carbon,
.mhc-best-for-her {

    .mhc-grass-fed-section-body {

        .mhc-img-container {
            height: 25vh;
            min-height: 500px;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            p {
                color: white;
                @include align-totally;
                padding: 0 32px;
                width: 100%;
                max-width: 500px;
                font-size: 18px;

                @media only screen and (min-width: 1280px) {
                    font-size: 20px;
                }
            }
        }

        .mhc-double-border-box {
            height: 160px;

            .mhc-title,
            .mhc-description {
                display: block;
                letter-spacing: 1px;
            }

            .mhc-title {
                font-size: 24px;
            }
        }
    }
}

