/* Grass Fed Sections */
/* ================== */

.mhc-grass-fed-section {
    background-repeat: no-repeat;
    background-position: center;

    .mhc-pretitle {
        font-family: $knockout-junior;
        color: $mhc-green;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        margin: 0;
    }

    .mhc-title {
        font-family: $neutraface-demi;
        color: $mhc-black;
        text-transform: uppercase;
        text-align: center;
        font-size: 36px;
        margin: 12px 0 4px;
    }

    .mhc-description {
        font-family: $lato-light;
        color: #999;
        margin: 0;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        max-width: 530px;
    }
}

.mhc-grass-fed-section-title {
    padding: 64px 16px;

    &.chapter {

        .mhc-title {
            font-size: 48px;
        }
    }
}

.mhc-grass-fed-section-body {
    box-shadow: $mhc-box-shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .mhc-title {
        font-size: 24px;
    }

    .mhc-timeline-copy {
        background-size: initial;
        background-position: center;
        background-repeat: no-repeat;
        min-height: calc(50vh - 50px);
        position: relative;

        div {
            @include align-totally;
        }
    }
}

.mhc-double-border-box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2px;

    span {
        display: block;
    }

    .mhc-double-border {
        padding: 4px 2px;
        height: 100%;
        width: 100%;
    }

    .inner-outer {
        padding: 2px;
        border-width: 4px;
        height: 100%;
        width: 100%;

        .inner-inner {
            position: relative;
            height: 100%;
            width: 100%;
            border-width: 0;
        }
    }

    .content-wrap {
        @include align-totally;
        display: table;
    }

    .mhc-img,
    .mhc-title {
        display: table-cell;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 768px) {
    
    .mhc-grass-fed-section-title {

        .mhc-pretitle {
            font-size: 16px;
        }

        .mhc-title {
            font-size: 48px;
        }

        .mhc-description {
            font-size: 20px;
        }

        &.chapter {
            
            .mhc-title {
                font-size: 60px;
            }
        }
    }

    .mhc-grass-fed-section-body {

        .mhc-title {
            font-size: 30px;
        }
    }
}