/* Grass-Fed Tabs */
/* ============== */

.mhc-grass-fed-tabs {

    .tabs-menu {
        height: 80px;
        padding: 0;
        margin: 0;
    }

    .tabs-menu-item {
        height: 100%;
        padding: 0;

        &.active {
            position: relative;
            background-color: black;
            border: none;
            z-index: 5;

            span {
                border: none;
            }

            .mhc-title {
                color: white;
            }            
        }
    }

    .tabs-menu-link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 2px;

        .mhc-img {
            margin: 0 auto;
            width: 80%;
            max-width: 50px;
        }

        .mhc-title {
            display: none;
        }
    }

    .tab {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: calc(100vh - 180px);
    }

    .tab-content {
        display: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        position: relative;

        div {
            @include align-totally;
            width: 100%;
            max-width: 1366px;
            margin: 0 auto;
            padding: 16px;
        }

        .mhc-title,
        .mhc-description {
            color: white;
            text-align: left;
        }

        .mhc-description {
            margin: 0;
            max-width: 768px;
            font-size: 14px;
        }
    }
}


@media only screen and (min-width: 768px) {

    .mhc-grass-fed-tabs {

        .tab-content {

            div {
                padding: 32px;
            }

            .mhc-description {
                font-size: 18px;
            }
        }

        .tabs-menu-link {

            .mhc-title {
                display: table-cell;
                font-size: 20px;
                position: relative;
                top: 2px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {

    .mhc-grass-fed-tabs {

        .tab-content {

            div {
                padding: 32px;
            }

            .mhc-description {
                font-size: 20px;
            }
        }
    }
}