/* Tooltips */
/* ======== */

.tooltip {
    z-index: 1;

    &.active {
        z-index: 4;

        .tooltip-trigger {

            .tooltip-info {
                opacity: 1;
                visibility: visible;
            }
            
            .tooltip-wrapper {
                background: rgba(48, 159, 92, 0.35);
            }

            .tooltip-plus {
                top: -100%;
            }

            .tooltip-minus {
                top: 0;
            }
        }
    }

    .tooltip-trigger {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;

        .tooltip-info {
            background: $mhc-black;
            border-radius: 4px;
            width: 280px;
            padding: 16px;
            position: absolute;
            left: calc(50% - 120px);
            bottom: -60px;
            opacity: 0;
            transition: opacity 0.3s, visibility 0.3s;
            visibility: hidden;
            z-index: 9;

            &:after {
                position: absolute;
                height: 0;
                width: 0;
                content: '';
                border: 12px solid transparent;
                border-top-color: $mhc-black;
                bottom: -24px;
            }
        }

        .tooltip-wrapper {
            background: transparent;
            border-radius: 50%;
            height: 75px;
            width: 75px;
            transition: all 0.3s;        
        }
    }
}

.tooltip-title,
.tooltip-message {}

.tooltip-title {
    text-transform: uppercase;
    color: white;
    margin: 0;
}

.tooltip-message {
    color: #ccc;
    margin-bottom: 0;
}

.tooltip-wrapper,
.tooltip-plus,
.tooltip-minus {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.tooltip-plus,
.tooltip-minus {
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    // transition: top 0.3s;
}

.tooltip-wrapper {
    overflow: hidden;
}

.tooltip-plus {
    top: 0;
}

.tooltip-minus {
    top: 100%;
}



