.mhc-main-footer {
    background-color: $mhc-super-dark-gray;
    clear: both;
    text-align: center;
    position: relative;

    .mhc-main-nav-body {
        background-color: black;

        .mhc-main-nav-list {
            color: white;
            
            li {
            
                a {
                    transition: color $transition-speed;

                    &:hover {
                        background-color: black;
                        color: $mhc-green;
                    }                    
                }
            }
        }
    }

    .mhc-main-nav-footer {
        background-color: $mhc-super-dark-gray;
        padding: 0 0 32px;
    }
}

.mhc-footer-logo {

    img {
        display: block;
        margin: 32px auto;
    }
}

.mhc-back-to-top {
    margin: 24px 0;

    .mhc-back-to-top-link {
        text-align: center;
        color: white;

        .mhc-inner {
            position: relative;
            width: 104px;
            display: block;
            margin: 0 auto;
            text-align: right;

            .mhc-icon {
                border-radius: 50%;
                background-color: $mhc-green;
                height: 30px;
                width: 30px;
                display: table;    
                @include align-vertically;
                text-align: center;

                i {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 18px;
                    position: relative;
                    left: 0.5px;
                }        
            }

            .mhc-copy {
                font-family: $lato-light;
                text-transform: uppercase;
                font-size: 10px;
                @include align-vertically;
                width: 100%;
                left: 0px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    
    .mhc-main-footer {

        .mhc-main-nav-body {

            .mhc-main-nav-list {
                display: table;
                width: 100%;
                max-width: 768px;
                padding: 0 16px;
                margin: 0 auto;

                li {
                    display: table-cell;
                    border: none;
                    vertical-align: middle;

                    a {
                        display: table;
                        margin: 0 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}