.mhc-hero {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.mhc-hero-bg {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    .row {
        height: 100%;
    }

    .mhc-copy {
        height: 100%;
        width: 100%;
    }

    .mhc-copy-container {
        position: absolute;
        bottom: 0;
        padding: 16px;
        color: white;

        .mhc-pretitle {
            margin: 0;
        }

        .mhc-title {
            font-size: 48px;
            margin: 0;
            font-weight: 100;

            .percent {
                font-size: 40px;
            }
        }

        .mhc-description {
            margin-top: 0;
        }

        .mhc-call-to-action-btns {
            
            .mhc-btn {
                float: left;

                &.highlighted {
                    margin-right: 8px;
                }
            }
        }
    }
}

/* Hero Social Links */
/* ================= */

.mhc-hero-social-links-list {
    @include align-vertically;
    display: block;
    right: 0;

    ul {
        text-decoration: none;
    }

    li {
        width: 44px;
        height: 44px;
        background-color: black;
        text-align: center;

        a {
            display: block;
            height: 100%;
            width: 100%;

            &:hover {
                background-color: #445C98;
            }
        }

        &:not(:last-child) {
            margin-bottom: 1.0px;
        }
    }

    i {
        color: white;
        padding-top: 12px;
        font-size: 18px;
    }
}




@media only screen and (min-width: 768px) {

    .mhc-hero-bg {
        height: 80vh;

        .mhc-copy-container {
            padding: 32px;

            .mhc-pretitle {
                font-size: 18px;
            }

            .mhc-title {
                font-size: 64px;
                margin-top: 10px;
            }

            .mhc-description {
                font-size: 16px;
                max-width: 440px;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {

    .mhc-hero-bg {

        .mhc-copy-container {
            padding: 64px;

            .mhc-pretitle {
                font-size: 20px;
            }

            .mhc-title {
                font-size: 84px;
            }

            .mhc-description {
                font-size: 24px;
                max-width: 700px;
            }
        }
    }
}
