.mhc-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(21, 21, 21, 0.95);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        z-index: 11;
        transition: opacity 0.3s 0s, visibility 0s 0s;

        .mhc-modal-inner {
            -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                    transform: translateY(0);            
        }
    }
}

.mhc-modal-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgba(21, 21, 21, 0.95);
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);

    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property:    -moz-transform;
            transition-property:         transform;

    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.mhc-video {
    @include align-vertically;
    width: 100%;
    border-radius: 2px;
    height: 100%;
    display: block;
}

.mhc-modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 45px;
    height: 30px;
    border-radius: 50%;
    display: block;
    z-index: 999;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 13px;
        width: 30px;
        height: 1px;
        background-color: white;
    }

    &::before {
        @include rotator(45deg);
        left: 8px;
    }

    &::after {
        @include rotator(-45deg);
        right: 8px;
    }
}