.mhc-about-pages {

    .mhc-img.story {
        width: 100%;
        margin: 64px 0 0 0;
    }
}

.mhc-about-pages-wrap {
    padding: 36px 0 48px;
    clear: both;
}

.mhc-about-pages-title-container {
    padding: 24px 16px;
    clear: both;

    &.extra-clearance {
        padding: 48px 16px;
    }
}

.mhc-about-pages-content {
    clear: both;

    .mhc-pretitle {
        text-align: center;
        margin: 0; 
    }

    .mhc-site-wide-title {
        margin: 12px 0 0;
        font-size: 36px;
    }

    .mhc-description {
        text-align: center;
        margin: 16px 0 0;
        font-size: 16px;
    }

    p, li {
        margin: 0 0 32px 0;
        color: #999;
        letter-spacing: 1px;
        line-height: 1.5;

        &.mhc-founder-name {
            margin-bottom: 0;
        }

        &.mhc-founder-title {
            margin-top: 0;
        }
    }

    ul {
        list-style: initial;
        padding-left: 50px;
    }
}

/* STORY */
/* ===== */

.mhc-sub-picture-text {
    margin-bottom: 64px;
}


/* TIMELINE */
/* ======== */

#mhcTimeline {

    .mhc-about-pages-wrap {
        padding: 0;
    }
}

.mhc-timeline-img {
    height: calc(50vh - 50px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mhc-timeline-copy {
    width: 100%;
    position: relative;

    div {
        width: 100%;
        padding: 32px;
    }

    .mhc-pretitle {
        text-align: left;
        margin: 0;
    }

    .mhc-title {
        font-size: 28px;
        color: $mhc-black;
        margin: 8px 0;
    }

    .mhc-description {
        font-size: 16px;
        margin: 0;
        color: #999; 
    }
}

#mhcTerms,
#mhcPrivacy {
    padding-top: 120px;

    /* Kyle's styles */
    /* ============= */

    .mhc-text-container {
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
        padding: 16px 0;

        p,
        li {
            text-align: left;
            color: #666666;
        }
        
        h2 {
            text-align: left;
            text-transform: none;
            font-family: $neutraface-demi;
            color: $mhc-black;
            font-size: 28px;
        }
    }

    .terms-title {
        text-transform: uppercase;
        font-size: 40px;
        font-family: $neutraface-demi;
        color: $mhc-black;
    }

    #conditionWrap {
        background-image: url(../img/mhc-grass-fed-thecow-accent.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 80%;
        height: 200px;

        h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // Arrow over
    .mhc-arrow-privacy {
        margin: 0 auto;
        height: 100px;
        text-align: center;
    }

    // Lines
    hr {
        color: #e1e1e1;
        width: 80%;
    }

    /* Kyle's styles */
    /* ============= */   
}


.mhc-arrow-link {
    display: block;
    width: 240px;
    height: 60px;
}

.mhc-arrow-circle,
.mhc-arrow-copy {
    display: inline-block;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

.mhc-arrow-circle {
    width: 60px;
    background: black;
    border-radius: 50%;
    position: relative;

    .fa {
        color: white;
        @include align-totally;
        font-size: 24px;
    }
}

.mhc-arrow-copy {
    width: 170px;
    position: relative;
    margin-left: 5px;

    span {
        @include align-vertically;
        width: 100%;
        text-align: left;
        font-family: $knockout-junior;
        text-transform: uppercase;
        color: black;
        font-size: 18px;
    }
}




@media only screen and (min-width: 768px) {

    .mhc-timeline-img {
        height: calc(100vh - 100px);
        width: 50%;
    }

    .mhc-timeline-copy {
        height: calc(100vh - 100px);
        width: 50%;

        div {
            @include align-totally;
            width: 85%;
        }

        .mhc-description {
            font-size: 18px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .mhc-timeline-copy {

        .mhc-title {
            font-size: 32px;
        }

        .mhc-description {
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 1920px) {

    .mhc-timeline-img {
        height: calc(50vh - 50px);
        width: 50%;
    }

    .mhc-timeline-copy {
        height: calc(50vh - 50px);
        width: 50%;
    }
}