/* Contact */
/* ======= */

.mhc-contact-wrapper {
    margin: 0 auto;

    img {
        position: relative;
        top: -5px;
    }
}

.mhc-contact-section {
    padding: 32px 0;

    h1 {
        margin-top: 0;
        margin-bottom: 8px;
    }

    h4 {
        margin-bottom: 0;
    }
}

.mhc-double-border {
  text-align: center;
}

hr {
    width: 66%;
}

.mailing-address {
    position: relative;

    p {
        margin: 0;
        padding: 0;
    }
}

.right-map-icon {
    position: absolute;
    right: 58px;
    top: 36px;
}