.mhc-product-detail {  
    background: white;
    height: 100vh;
    width: 100%;
    background-image: url(../img/mhc-product-details-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .inner-inner {
        padding: 16px;
    }
}

.mhc-back-to-products {
    border-radius: 50%;
    background: $mhc-black;
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    transition: all $transition-speed;
    margin-bottom: 20px;

    span {
        height: 100%;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        display: block;

        i {
            @include align-totally;
            color: white;
            transition: color $transition-speed;
        }
    }

    &:hover {
        background: #999;

        i {
            color: $mhc-black;
        }
    }
}

.mhc-product-detail-inner {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}

.mhc-product-detail-header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .mhc-modal-close {
        left: 25px;
        top: 25px;
        right: auto;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        left: 16px;
        height: 32px;
        width: 32px;
        border: 2px solid white;
        border-radius: 50%;
        transition: border-color 0.5s;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 13px;
            width: 15px;
            height: 3px;
            background-color: $mhc-green;
        }

        &::before {
            @include rotator(45deg);
            left: 7px;
        }

        &::after {
            @include rotator(-45deg);
            right: 6px;
        }
    }
}

.mhc-product-detail-img-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.mhc-product-detail-img-inner {
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.mhc-product-img {
    @include align-totally;
    width: 80%;
    max-width: 400px;
}

.mhc-product-detail-info-container {
    overflow-y: scroll; 

    .inner-outer {
        background: white;
    }
    
    .mhc-intro {
        font-family: $lato-light;
        color: $mhc-black;
        font-size: 24px;
        margin-top: 16px;
        text-align: left;
    }
}

.mhc-product-detail-breadcrumbs {
    text-align: left;
    
    .mhc-copy {
        font-family: $lato-regular;
        text-transform: uppercase;
        font-size: 12px;
        color: $mhc-green;
        font-weight: 700;

        &:not(.products) {
            margin-left: 8px;
            color: $mhc-black;

            &:before {
                font-family: $font-awesome;
                content: "\f111";
                margin-right: 6px;
                font-size: 8px;
                position: relative;
                top: -1px;
            }
        }
    }
}

.mhc-product-detail-section {
    border-top: 1px solid $mhc-soft-border;
    padding: 32px 0;

    .mhc-title-container {
        padding: 0 0 16px 0;

        .mhc-title-element {
            float: left;
            margin: 0 8px 0 0;
        }

        .mhc-section-icon {
            padding: 0 0 0 12px;

            img {
                width: 100%;
            }
        }

        .mhc-title,
        .mhc-daily-value {
            font-family: $lato-regular;
            text-transform: none;
            font-size: 18px;
            position: relative;
            top: 8px;
        }
        
        .mhc-title {
            color: $mhc-green;
            float: left;
        }

        .mhc-daily-value {  
            float: right;
        }
    }

    .mhc-title,
    .mhc-count,
    .mhc-daily-value {
        font-family: $lato-regular;
        font-size: 14px;
        text-transform: none;
    }

    .mhc-count,
    .mhc-daily-value {
        text-align: right;
    }
}

.mhc-fact {
    margin: 8px 0 0 0;
    text-align: left;

    .mhc-title {
        color: $mhc-black;
        padding: 0;
    }
    
    .mhc-count,
    .mhc-daily-value {
        padding-right: 0;
        text-align: right;
    }
    
    &.calories-from-fat,
    &.saturated-fat,
    &.trans-fat,
    &.daily-fiber,
    &.sugar,
    &.vitamin-a,
    &.vitamin-c,
    &.calcium,
    &.iron {
        
        .mhc-title {
            color: #999;
        }
    }

    &.saturated-fat,
    &.trans-fat,
    &.daily-fiber,
    &.sugar {

        .mhc-title {
            padding-left: 16px;
        }
    }
}

.mhc-ingredients-list {

    p {
        font-size: 16px;
        text-align: left;
    }
}

.mhc-certification {    
    margin: 8px 0 0 0;

    .mhc-title {
        padding-left: 0;
        color: $mhc-black;
        text-align: left;
    }
}

.drinkable {

    .mhc-product-img {
        max-width: 180px;
    }
}

.mhc-storelocator-map {

    a {
        display: block;
        width: 100%;

        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 360px) {
    
    .mhc-product-detail-section {

        .mhc-title-container {

            .mhc-title,
            .mhc-daily-value {
                font-size: 20px;
                top: 6px;
            }
        }
        
        .mhc-title,
        .mhc-count,
        .mhc-daily-value {
            font-size: 16px;
        }        
    }

    .mhc-ingredients-list {

        p {
            font-size: 18px;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    .mhc-product-detail {
        height: 100vh;
    }

    .mhc-product-detail-img-container {
        float: left;
        width: 55%;
        height: 100vh;
        position: absolute;
    }

    .mhc-product-detail-info-container {
        float: right;
        width: 45%;
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1024px) {


    .mhc-product-detail {
        
        .inner-inner {
            padding: 36px;
        }
    }

    .mhc-product-detail-img-container {
        width: 60%;
    }

    .mhc-product-detail-info-container {
        width: 40%;
    }
}

@media only screen and (min-width: 1366px) {


    .mhc-product-detail-img-container {
        width: 70%;
    }

    .mhc-product-detail-info-container {
        width: 30%;
    }
}


