.mhc-products-category {
    position: static !important;
    margin: 32px 0;
    list-style: none;

    .mhc-title {
        font-family: $neutraface-demi;
        text-transform: uppercase;
        color: $mhc-black;
        text-align: center;
        font-size: 32px;
        margin-bottom: 16px;
    }

    .mhc-description {
        color: #999;
        font-family: $lato-light;
        text-align: center;
        width: 100%;
        margin: 0 auto 48px;
        max-width: 500px;

        p {
            margin-top: 0;
            font-size: 20px;
        }
    }
    
    &.hidden {
        display: none;
        visibility: hidden;
    }

    @media only screen and (min-width: 768px) {

        .mhc-title {
            font-size: 54px;
        }
    }
}

.mhc-category-btn,
.mhc-category-copy {
    float: left;
}

.mhc-category-copy {
    letter-spacing: 0.5px;
    font-weight: 100;
    margin-left: 6px;
}

.mhc-category-btn {
    height: 14px;
    width: 14px;
    border-radius: 2px;
    border: 1px solid #999;
    background: white;
    top: 5px;
    position: relative;

    div {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    i {
        @include align-totally;
        color: $mhc-green;
    }

    &.checked {

        div {
            opacity: 1;
        }
    }
}