.mhc-product {
    margin: 32px 0;
    min-height: 340px;

    .mhc-product-link {
        display: block;
        width: 100%;
        height: 100%;
    }
 
    img {
        display: block;
        margin: 0 auto;
        height: auto;
    }

    .mhc-img {
        width: 70%;
    }

    .mhc-indicator {
        width: 30px;
        margin: 24px auto 16px;
    }

    .mhc-size {
        text-align: center;
    }

    .mhc-title,
    .mhc-description {
        text-align: center;
        text-transform: uppercase;
        font-family: $knockout-junior;
    }

    .mhc-title {
        font-size: 24px;
    }

    .mhc-description {
        color: #999;
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
        line-height: 1.25;
        max-width: 260px;
    }

    @media only screen and (min-width: 600px) {

        .mhc-img {
            width: 65%;
        }
    }

    @media only screen and (min-width: 1680px) {

        .mhc-title {
            font-size: 32px;
        }

        .mhc-description {
            font-size: 18px;
        }
    }
}

.drinkable {
    .mhc-img {
        width: 50%;
        max-width: 140px;
    }
}

.kefir {
    .mhc-img {
        width: 50%;
        max-width: 200px;
    }
}

