.mhc-hero-callout {
    padding: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: block;

    img {
        width: 100%;
    }

    a {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }
}

.mhc-hero-callout-copy {
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: white;
    letter-spacing: 1px;

    .mhc-title {
        margin: 4px 0;
        font-family: $neutraface-demi;
        text-transform: uppercase;
        font-size: 22px;
    }

    .mhc-subtitle {
        margin: 2px 0 0;
        font-family: $lato-light;

        span {
            border-radius: 12px;
            background: $mhc-green;
            padding: 0 12px 3px;
            font-size: 14px;
        }
    }
}